#container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.overlay {
  width: 800px;
  height: 800px;
  z-index: -1;
}

.slider {
}

.ui-widget-content {
  z-index: 100;
}
